
.first-screen {
  background-color: #3E3F41;
}
.head{
  margin: 20% 0% 0% 0%;
}
.transLab {
  margin-top: 0%;
  font-family: 'Roboto', sans-serif;
  color: #F6A800;
  font-size: 2rem ;
  font-weight: 700;
  text-align: center;
}
.image{
  width: 70%;
  margin: 0% 20%;
}
.iniciar{
  width: 100%;
  background-color: #F6A800;
  color: #3E3F41;
  font-family: 'Roboto';
  font-weight: 300;
  border: #F6A800;
  border-radius: 0%;
}
.input{
  border-radius: 0%;
}  
.remember {
  color: white;
}
.registro{
  margin: 20% 0%;
}
footer{
  text-align: right;
  margin-right: 0%;
  margin-bottom: 4%;
}
#footer1{
  display: inline;
  color: white;
}
#footer2{
  display: inline;
  color: #F6A800;
  font-weight: 500;
}
.hamburguesa{
  background-color: #3E3F41;
  color: white;
  text-align: center;
} 
.linea{
  color: white;
  margin: 0%;
}
.linea:hover{
  color: #DDDEE0;
  background-color: #3E3F41;
}
h2{
  text-align: center;
  margin: 4% 1% 2% 20%
}
.principal{
  background-color: #F6A800;
  color: white;
  margin: 2% 0%;
  width: 100%;
  font-size: 1rem;
}
.menu-principal{
  background-color: #DDDEE0;
}
.botones{
  margin: 20% 0%;
}
.yellow{
  background-color: #F6A800;
  padding: 5%;
}
.avatar{
  margin-left: 10%;
}
.datos{
  background-color: #DDDEE0;
  padding: 10%;
  height: 57vmax;
  text-align: center;
}
.agregar{
  background-color: #F6A800;
  color: white;
  width: 100%;
  margin: 2% 0%; 
}
.mail-user{
  background-color: white;
  color: #8c8c8f;
  padding: 2%;
}
.ingresar-tarjeta{
  background-color: #DDDEE0;
  color: #333333;
  box-shadow: none;
  border-bottom-width: #3E3F41 2px;
  margin-top: 5%;
}